body {
  margin: 0;
}

.main-login {
  width: 100%;
  height: 60vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;

}

.left-login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.left-login>h1 {
  color: #77ffc0
}

.right-login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card-login {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: rgba(15, 99, 145, 0.97);
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  border: 5px solid rgba(18, 223, 189, 0.904);
}

.card-login>h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0px;
}

.textfield>input {
  width: 100%;
  border: 1px solid #514869;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  /* Para retirar a borda quando o input é selecionado */
  outline: none;
  /* Para a div filha não passar a div pai! Dá para ser visto no DevTools  */
  box-sizing: border-box;
}

.texfield>label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield>input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  width: 60%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-redefinir {
  font-size: 10pt
}

.textfield input:focus {
  border-color: rgba(18, 223, 189, 0.904)
}

.textfield input:focus {
  border-color: rgba(18, 223, 189, 0.904)
}

.gif-animado {
  width: 35vw;

}


.logo {
  display: flex;
  height: 35vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1115)'%3e%3c/rect%3e%3cpath d='M 0%2c389 C 57.6%2c358.4 172.8%2c243.8 288%2c236 C 403.2%2c228.2 460.8%2c364.8 576%2c350 C 691.2%2c335.2 748.8%2c156 864%2c162 C 979.2%2c168 1036.8%2c409.4 1152%2c380 C 1267.2%2c350.6 1382.4%2c88 1440%2c15L1440 560L0 560z' fill='rgba(15%2c 99%2c 145%2c 0.97)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='50%25' x2='100%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1115'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(18%2c 197%2c 168%2c 0.99)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  padding-top: 5px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  background-position: center;

}

/* CSS Hotbar */
a,
li {
  text-decoration: none;
  list-style: none;
  color: rgb(179, 219, 234);

}

nav {
  background: #c7ffe3;
  background-size: cover;
  background-image: linear-gradient(to bottom , rgb(15, 99, 145 , 1.0) 100%,rgba(18 , 197, 168, 0.99));
  box-sizing: border-box;
  


}

.hotbar {
  display: flex;
  justify-content: space-between;
  background: rgba(15, 99, 145, 0.97);
  padding: 5px 5px 5px 5px;
  border: 5px solid rgba(18, 223, 189, 0.904);
  border-radius: 22px;
  font-size: 20pt;
  box-sizing: border-box;

}

/* Rodapé */
footer {
  display: flex;
  height: 8vh;
   justify-content: center;
align-items: center;
background-color: rgba(18, 223, 189, 0.904);
font-size: 1.5rem;
} 